.playerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.runningCountContainer{
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.scoreContainer {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 28px;
}
.col {
  flex: 1;
  height: 26px;
  justify-content: center;
  display: flex;
  margin: 0 5px 0 5px;
}

.cardContainer {
  height: 125px;
  width: 100%;
}
.flexCardContainer {
  display: flex;
  position: relative;
  left: var(--stackLeftMove);
}
.cards {
  display: flex;
  height: 100%;
  justify-content: center;
}
.cardimg {
  max-height: 100%;
  max-width: 80px;
}
.over5Cards {
  border: black solid 1px;
}
button {
  color: white;
  background-color: transparent;
  border: solid white 3px;
  border-radius: 5px;
  width: 50px;
  margin: 5px;
}

button:hover {
  background-color: #65a32d;
}

.bustHand {
  color: #ac2c0b;
}

.actionRow {
  height: 40px;
  display: flex;
  justify-content: center;
}
