<div class="playerContainer">

  <div class="runningCountContainer">
    <p class="col">Hand Count = &nbsp;
      <span [ngClass]="{'posCount': player.count > 0, 'negCount':player.count < 0 }"> {{player.count}}</span>
    </p>
    <p class="col">
      <span *ngIf="winnersUpdated && player.win==='Win'" [@wiggleWin]>{{player.win}}</span>
      <span *ngIf="winnersUpdated && player.win==='Lose'" [@lickadyLose]>{{player.win}}</span>
      <span *ngIf="winnersUpdated && player.win==='Push'" [@pushadyPush]>{{player.win}}</span>
    </p>
    <p class="col"> W: {{player.winCount}} /  L: {{player.loseCount}}</p>
  </div>

  <div class="scoreContainer">
    <span *ngIf="!player.isDealer && player.hand.length > 0" [ngClass]="{'bustHand': isBust }">{{determineTotal()}}</span>
    <span *ngIf="player.isDealer && player.hand.length > 1">Showing {{player.hand[1].value}}</span>
  </div>

  <div class="cardContainer" #cardContainer [ngClass]="{'flexCardContainer': shouldStackCards }">
    <div class="cards" *ngIf="!player.isDealer" >
      <img [@cardDealing]="{value: ':enter', params: { x: xMovement, y: yMovement, rx:playerX, ry: playerY}}"
           [ngClass]="{'over5Cards': shouldStackCards }"
           class="cardimg" *ngFor="let card of player.hand; let i = index"
           src="../../assets/cards/{{card.card}}{{card.suite}}.svg"
           [ngStyle]="{'right': 60*i + 'px'}">
    </div>
    <div *ngIf="player.isDealer" class="cards">
      <img class="cardimg"  *ngIf="player.hand.length > 0" src="../../assets/cards/backCard.svg">
      <img class="cardimg"  *ngIf="player.hand.length > 1" src="../../assets/cards/{{player.hand[1].card}}{{player.hand[1].suite}}.svg">
    </div>
  </div>
  <div class="actionRow">
    <div *ngIf="this.player.isTurn">
      <button (click)="hitPlayer(player.num)">Hit</button>
      <button *ngIf="canDouble()" (click)="doubleDownPlayer(player.num)">DD</button>
      <button (click)="stay(player.num)">Stay</button>
      <button *ngIf="canSplit()" (click)="splitHand(player.num)">Split</button>
    </div>
  </div>
</div>

