.cardContainer {
  height: 140px;
}
img {
  height: 125px;
}

button {
  color: white;
  background-color: transparent;
  border: solid white 3px;
  border-radius: 5px;
  width: 50px;
  margin: 5px;
}

button:hover {
  background-color: #65a32d;
}
.scoreContainer {
  height: 26px;
}
.bustHand {
  color: #ac2c0b;
}
.playerTotal {
  font-size: 24px;
}
.winBanner{
  font-size: 30px;
  height: 35px;
}
.actionRow{
  height: 40px;
}
