.playerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.runningCountContainer{
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.scoreContainer {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.col {
  flex: 1;
  height: 26px;
}

.cardContainer {
  height: 140px;
}
img {
  height: 100px;
}

button {
  color: white;
  background-color: transparent;
  border: solid white 3px;
  border-radius: 5px;
  width: 50px;
  margin: 5px;
}

button:hover {
  background-color: #65a32d;
}

.bustHand {
  color: #ac2c0b;
}

.actionRow {
  height: 40px;
}
