<div class="contactContainer">
      <div class="aboutWrapper">
        <h1>About</h1>
        <p>
          My name is Elijah and I created this app. It's a fun little pet project for me.
          Playing cards has always been an interest of mine from a young age. It was a fun
          pastime and a right of passage to be able to play certain games with aunts and uncles
          growing up. We bonded over games of Tonk, Gin Rummy, Spades, etc. I stumbled upon
          BlackJack in later years after my first trip to a North Carolina casino with my best friend.
          Until this day I still play at the 10 dollar table lol.
        </p>
         <p>
           I'd attribute my love for cards as my gateway into computer science which is what enabled me to create this
           app. I enjoyed applying math to real topics but never knew of a way to turn that into a profession.
           I lucked up in college with a professor who knew just what I needed. In my freshman year of college, I took a
           math class. I don't recall the name but one of the topics in that class was counting cards because of the
           math principles it taught. Following those particular lessons, I asked the professor what would be the
           closest major to what he was teaching in this course. He said Computer Science. The next year I switched my
           major to Computer Science from Media Studies and never
           looked back.
        </p>

        <h3>Features coming soon</h3>
        <p>
          I actively work on this project. Below is a list of things I plan to build next.
          Use the contact form to recommend things you'd like to see!</p>
        <ul>
          <li>Bid/Bet</li>
          <li>Basic Strategy tip on staying or hitting</li>
        </ul>
    </div>
    <div class="contactWrapper">
      <h1>Contact</h1>
      <form class="form"[formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <label for="name" >Name</label>
        <input id="name" type="text" formControlName="name" required >
        <div class="errorWrapper">
          <span *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required">Name Required</span>
        </div>

        <label for="email" >Email</label>
        <input id="email"type="email" formControlName="email" required >
        <div class="errorWrapper">
          <span *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.required">Email Required</span>
          <span *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email">Enter Valid Email</span>
        </div>

        <label for="message" >Message</label>
        <textarea id="message"  type="text" formControlName="message" required ></textarea>
        <div class="errorWrapper">
          <span *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required">Message required</span>
        </div>

        <button class="subBtn" type="submit" [disabled]="!contactForm.valid">
          <span *ngIf="!isSending">Send</span>
          <span *ngIf="isSending" class="loading"></span>
        </button>
      </form>
    </div>
</div>
