
.header { grid-area: header; }
.dealer { grid-area: dealer; }
.player1 { grid-area: player1; }
.player2 { grid-area: player2; }
.player3 { grid-area: player3; }
.player4 { grid-area: player4; }

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header header'
    'blank dealer dealer blank2'
    'player1 player2 player3 player4';
  grid-gap: 10px;
  background-color: #294414;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container > .player1,
.grid-container > .player2,
.grid-container > .player3,
.grid-container > .player4 {
  background-color: white;
}
