.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dealInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.dealInfo > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100px;
  margin: 10px;
}
.cardData {
  border-left: #ac2c0b solid 2px;
  border-bottom: #ac2c0b solid 2px;
  flex: 1;
  align-items: flex-start;
}
.countData {
  border-right: #ac2c0b solid 2px;
  border-bottom: #ac2c0b solid 2px;
  flex: 1;
  align-items: flex-end;
}
.dealButtonContainer {
  flex: 1;
  align-items: center;
  height: 70px;
}

.cardDataPoints {
  margin-left: 5px;
  font-size: 24px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.cardDataPoints > p {
  flex: 1;
  text-align: start;
  white-space: nowrap;
}

.countDataPoints {
  margin-right: 5px;
  font-size: 24px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.countDataPoints > p {
  flex: 1;
  text-align: end;
  white-space: nowrap;
}

//
//.pastRectangle {
//  height: var(--pastHeight);
//  width: 100px;
//  background-color: #ac2c0b;
//  background-image: linear-gradient(#ac2c0b, #c50aed);
//  margin: auto;
//}
//.futureRectangle {
//  height: var(--futureHeight);
//  width: 100px;
//  background-color: #ac2c0b;
//  background-image: linear-gradient(#ac2c0b, #c50aed);
//  margin: auto;
//}
.dealer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dealer > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.runCountContainer {
  flex: 1;
}
.trueCountContainer {
 flex: 1;
}
.dealerHand {
  flex: 1;
}
.dealerHand {
  border: 5px solid #152b0d;
  border-radius: 25%;
  min-width: 300px;
  box-shadow: 2px 3px 2px 1px #3f4e39;
}
.players {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}

.playerHand {
    border: 5px solid #ac2c0b;
    border-radius: 25%;
    text-align: center;
    box-shadow: 2px 3px 2px 1px #634d45;
}

//.players {
//  display: flex;
//  flex-wrap: wrap;
//}
//
//.players > div {
//  border: 5px solid #ac2c0b;
//  border-radius: 25%;
//  flex: 1;
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  align-items: center;
//  min-width: 300px;
//  margin: 10px;
//}

.playerTitle {
  font-size: 30px;
}

.dealButton {
  color: white;
  background-color: transparent;
  border: solid white 3px;
  border-radius: 5px;
  width: 75px;
  height: 50px;
  font-size: 24px;
  margin: 10px;
}

.dealButton:hover {
  background-color: #65a32d;
}

.runningCount {
  font-size: 130px;
}

.countStatement {
  font-size: 30px;
}
.trueCountFormula{
  font-size: 16px;
}

app-playing-hand {
  width: 100%;
}

@media(max-width: 700px) {

}

@media(max-width: 1005px) {
  .runCountContainer {
    order: 1;
  }
  .trueCountContainer {
    order: 2;
  }
  .dealerHand {
    order: 3;
    flex: 1 1 100%;
  }
  .cardData {
    flex: 1;
    order: 1;
  }
  .countData {
    flex: 1;
    order: 2;
  }
  .dealButtonContainer {
    flex: 1 1 100%;
    order: 3;
  }
  .cardDataPoints {
    flex-direction: column;
    align-items: center;
  }
  .countDataPoints {
    flex-direction: column;
    align-items: center;
  }
}
