<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-container">
  <div>
    <h1>True Count 21</h1>
    <div *ngIf="!hasStarted">
      <button (click)="startRound()">Deal</button>
    </div>
  </div>

  <div class="dealer">
    <h2>Dealer</h2>
    <app-playing-hand [player]="dealer" ></app-playing-hand>
  </div>

  <div class="players">
    <div *ngFor="let player of players">
      <h2 class="playerTitle">P-{{player.num}}</h2>
      <app-playing-hand [player]="player" (nextPlayerTurn)="nextPlayerTurn($event)" (hit)="hit($event)"></app-playing-hand>
    </div>
  </div>
</div>


