<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-container">
  <div class="dealInfo">
    <div class="pastShoot">
      <span>
        Past Cards = {{pastCardsLength}}
        <p class="pastRectangle"></p>
      </span>
    </div>
    <div>
      <button *ngIf="!hasStarted" class="dealButton" (click)="startRound()">Deal</button>
    </div>
    <div class="futureShoot">
      <p>Future Cards = {{sixDeckCardArray.length}}</p>
      <p>Remaining Decks = {{decksRemaining}}</p>
      <p class="futureRectangle"></p>
    </div>
  </div>

  <div class="dealer">
    <div>
      <p class="runningCountStatement">Running Count is</p>
      <p class="runningCount" [ngClass]="{'posCount': runningCount > 0, 'negCount':runningCount < 0 }">
        {{runningCount}}
      </p>
    </div>
    <div>
      <h2>Dealer</h2>
      <app-playing-hand [player]="dealer" ></app-playing-hand>
    </div>
    <div>
      <p class="countStatement">True Count is <span class="trueCountFormula">(Running Count / Decks Remaining)</span></p>
      <p class="runningCount" [ngClass]="{'posCount': trueCount > 0, 'negCount': trueCount < 0 }" >
        {{trueCount}}
      </p>
    </div>
  </div>

  <div class="players">
    <div *ngFor="let player of players">
      <h2 class="playerTitle">Player {{player.num + 1}}</h2>
      <app-playing-hand [player]="player"
                        (nextPlayerTurn)="nextPlayerTurn($event)"
                        (hit)="hit($event)"
                        (doubleDown)="doubleDown($event)"
                        (split)="split($event)"></app-playing-hand>
    </div>
  </div>
</div>


