/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
:root {
  --futureHeight: 0;
  --pastHeight: 0;
  --stackLeftMove: 0;
}
html{
  height: 100%;
  background-color: #294414;
  color: white;
}

body {
  font-family: 'Teko', sans-serif;
  margin: 0;
  padding-bottom: 10px;
}

p {
  margin: 0;
}

h2 {
  margin: 10px 0 10px 0;
}
button {
  outline: none;
  box-shadow: none;
}
.posCount {
  color: yellow;
}
.negCount {
  color: white;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #103310 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: yellow !important;
}
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, p {
  font-weight: normal;
}

.cardImg {
  height: 100px;
}
