/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
:root {
  --futureHeight: 0;
  --pastHeight: 0;
  --stackLeftMove: 0;
}
html{
  height: 100%;
  background-color: #294414;
  color: white;
}

body {
  font-family: 'Teko', sans-serif;
}

p {
  margin: 0;
}

h2 {
  margin: 10px 0 10px 0;
}

.posCount {
  color: yellow;
}
.negCount {
  color: white;
}
